#JT{
    border:2px solid black;
    background-color: #dffcf1;
    height: 70px;
    width: 70px;
    text-align: center;
    position: absolute;
    top: 60px;
    left: 28%;
    border-radius: 10px;
    font-size: 50px;

}
div{
    text-align: center;
    /* background-color: #dffcf1; */
    height: 500px;
    width: 500px;
    position:absolute;
    top: 50%;
    bottom: 50%;
    right: 50%;
    left: 20% ;
    position: absolute;
    top: 100px;
    text-shadow: 0px 8px 10px;
    
    
}
form{
    border:1px solid black;
    border-width: 3px;
   
    height: 400px;
    width: 800px;
    background-color: #dffcf1;
    position: absolute;
    top: 10%;
    
}

button{
    background-color: #94ffed;
    position: relative;
    top: 20%;
    width: 100px;
    height: 30px;
   
}
input{
    width: 200px;
}
label,input{
position: relative;

top: 30px;

}
button:hover{
    background-color: brown;
    height: 40px;
    width: 120px;
    box-shadow: 0px 2px 4px;
}
h1{
            text-align: center;
            /* position: absolute;
            top: 1px;
            left:90px; */
            text-align: center;

        }
        b{
            color: black;
            font-size: 15px;
            /* position: absolute;
            top: 50px;
            left:90px; */
            text-align: center;
        }
        select{
            background-color: #dffcf1;
            border: 2px solid black;
            position: relative;
            top: 10%;
            right:10px;
            height: 30px;
            width: 100px;

        }
        
 